*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  background: #ffec1675;
}

ul,ol{
  margin-top: 80px;
  margin-left: 350px;
  font-size: 40px;
}

a{
  text-decoration: none;
}

.container{
  width: 1170px;
  margin: 0 auto;
}


.todo__wrapper{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reset{
  border-radius: 10px;
  padding: 20px 30px 20px 30px;
  background: #000;
  color: #fff;
}

.reset__btn{
  color: #fff;
  font-size: 20px;
  font-weight: 10px;
}

.todo__app{
  margin-right: 70px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  position: relative;
}


.input__task{
  width: 500px;
  height: 50px;
  font-size: 30px;
}


.input__btn{
  padding: 11px 40px 15px 40px;
  color: #000;
  font-size: 14px;
  margin-bottom: 10px;
  position: absolute;
  margin-left: 655px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
  background: #fff;

}

.todo__error{
  position: absolute;
  font-size: 30px;
  margin-right: 200px;
  margin-top: 60px;
}

.edit__btn{
  padding: 11px 40px 15px 40px;
  color: #000;
  font-size: 14px;
  margin-bottom: 10px;
  position: absolute;
  margin-left: 355px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
  background: #fff;

}


.delete__btn{
  padding: 11px 40px 15px 40px;
  color: #000;
  font-size: 14px;
  margin-bottom: 10px;
  position: absolute;
  margin-left: 230px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 800;
  background: #fff;

}